<!DOCTYPE html>
<!--[if lt IE 7]><html class="no-js lt-ie9 lt-ie8 lt-ie7"><![endif]-->
<!--[if IE 7]><html class="no-js lt-ie9 lt-ie8"><![endif]-->
<!--[if IE 8]><html class="no-js lt-ie9"><![endif]-->
<!--[if IE 9]><html class="no-js ie9"><![endif]-->
<!--[if gt IE 8]><!-->
<html class="no-js">
<!--<![endif]-->
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width">
	<meta name="description" content="">
	<title><%= appname %></title>
	<!-- Place favicon.ico and apple-touch-icon.png in the root directory -->
	<!-- build:css styles/theme.css -->
	<link rel="stylesheet" href="styles/theme.css">
	<!-- endbuild --><% if (includeModernizr) { %>
	<!-- build:js scripts/header.js -->
	<script src="scripts/vendor/modernizr/modernizr.js"></script>
	<!-- endbuild --><% } else { if (includeHTML5Shiv) { %>
	<!--[if lt IE 9]>
	<!-- build:js scripts/header.js -->
	<script src="scripts/vendor/html5shiv/dist/html5shiv.js"></script>
	<!-- endbuild -->
	<![endif]--><% }} %>
</head>
<body>
	<!--[if lt IE 10]>
		<p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
	<![endif]-->

	<div class="hero-unit">
		<h1>'Allo, 'Allo!</h1>
		<p>You now have</p>
		<ul>
			<li>HTML5 Boilerplate</li>
			<% if (includeModernizr) { %>
			<li>Modernizr</li>
			<% } else { if (includeHTML5Shiv) { %>
			<li>HTML5 Shiv</li>
			<% }} %>
		</ul>
	</div>

	<!-- build:js scripts/body.js -->
	<script src="scripts/vendor/requirejs/require.js" data-main="scripts/config.js"></script>
	<!-- endbuild -->
</body>
</html>
